In [73]:
## Import necessary modules
import os,sys
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import date2num, AutoDateFormatter, AutoDateLocator, WeekdayLocator, MonthLocator, DayLocator, DateLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
from matplotlib.ticker import AutoMinorLocator, AutoLocator, FormatStrFormatter, ScalarFormatter
import numpy as np
import datetime, calendar
from datetime import timedelta
import matplotlib.patches as mpatches
from itertools import tee

%matplotlib tk

In [89]:
## import data
## 1458_daily Dateien sind ab 01.03.2017 viertelstündlich
## CE_alle_agenten sind ausschliesslich stündlich
hotlinedata=pd.read_pickle('/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/pkl_plots_calls_1458.pkl')
hotlinedata2=pd.read_pickle('/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/doe_pickle_1458.pkl')
hl_dates=hotlinedata.date.copy() # gibt die date-spalte als eine Series aus datetime.date Daten zurück
hl_dates_sorted=hl_dates.sort_values(ascending=True).copy() # sortiert die Serie
dateindex_start=hl_dates_sorted.unique()[0] # erstes datum
dateindex_ende=hl_dates_sorted.unique()[-1] # letztes datum
einheitsindex=pd.date_range(dateindex_start, dateindex_ende)

In [91]:
hotlinedata2.head(6) # der hier hat keine halben stunden, dafuer aber schon kern-und nebenzeit
hotlinedata.head(6)

,month,year,0,1,2,3,4,5,6,7,...,21,22,23,24,summa,xlday,day,date,week,weekday
tix,11,2016,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,06:30-07:30,...,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,NaN,42688.0,14,2016-11-14,46,Mon
angekommen,11,2016,0,0,0,0,0,0,1,5,...,0,1,0,0,321,42688.0,14,2016-11-14,46,Mon
verbunden,11,2016,0,0,0,0,0,0,0,4,...,0,0,0,0,221,42688.0,14,2016-11-14,46,Mon
verloren,11,2016,0,0,0,0,0,0,1,1,...,0,1,0,0,100,42688.0,14,2016-11-14,46,Mon
servicelevel,11,2016,NaN,NaN,NaN,NaN,NaN,NaN,0,0.8,...,NaN,0,NaN,NaN,0.688474,42688.0,14,2016-11-14,46,Mon
tix,11,2016,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,06:30-07:30,...,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,NaN,42689.0,15,2016-11-15,46,Tue

In [87]:
nebenzeit=hotlinedata.loc[hotlinedata2['bz'] == 'n'].copy()
kernzeit=hotlinedata.loc[hotlinedata2['bz'] == 'k'].copy()

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [79]:
funx={'yy':'first','mm':'first','ww':'first','wd':'first','an':'sum','vb':'sum','vl':'sum'}
nebenzeit_nach_datum=nebenzeit.groupby('dt').agg(funx).copy()
kernzeit_nach_datum=kernzeit.groupby('dt').agg(funx).copy()

In [80]:
kzneu=kernzeit_nach_datum.reindex(einheitsindex, fill_value=0).drop(['ww','wd','mm','yy'],axis=1).copy() # kernzeit kriegt den index für alle vorhandenen Tage und verliert erstmal ein paar Spalten
nzneu=nebenzeit_nach_datum.reindex(einheitsindex, fill_value=0).drop(['ww','wd','mm','yy'],axis=1).copy() # same here

In [81]:
nzneu['yy']=nzneu.index.year
nzneu['mm']=nzneu.index.month
nzneu['wd']=nzneu.index.strftime('%a')
nzneu['ww']=nzneu.index.weekofyear

In [82]:
kzneu['yy']=kzneu.index.year
kzneu['mm']=kzneu.index.month
kzneu['wd']=kzneu.index.strftime('%a')
kzneu['ww']=kzneu.index.weekofyear

In [83]:
kzneu

             an   vl   vb    yy  mm   wd  ww
2016-11-14  321  100  221  2016  11  Mon  46
2016-11-15  152   20  132  2016  11  Tue  46
2016-11-16   75   11   64  2016  11  Wed  46
2016-11-17   91    7   84  2016  11  Thu  46
2016-11-18  112   22   90  2016  11  Fri  46
2016-11-19   36    9   27  2016  11  Sat  46
2016-11-20    5    0    5  2016  11  Sun  46
2016-11-21  184   25  159  2016  11  Mon  47
2016-11-22   79   15   64  2016  11  Tue  47
2016-11-23   64    8   56  2016  11  Wed  47
2016-11-24   74   10   64  2016  11  Thu  47
2016-11-25   62   10   52  2016  11  Fri  47
2016-11-26   36    4   32  2016  11  Sat  47
2016-11-27    4    2    2  2016  11  Sun  47
2016-11-28   98    3   95  2016  11  Mon  48
2016-11-29   77    6   71  2016  11  Tue  48
2016-11-30  188   17  171  2016  11  Wed  48
2016-12-01   81    7   74  2016  12  Thu  48
2016-12-02  141   11  130  2016  12  Fri  48
2016-12-03   32    3   29  2016  12  Sat  48
2016-12-04   11    8    3  2016  12  Sun  48
2016-12-05  186    8  178  2016  12  Mon  49
2016-12-06  122    4  118  2016  12  Tue  49
2016-12-07   94   14   80  2016  12  Wed  49
2016-12-08  203   32  171  2016  12  Thu  49
2016-12-09  244   38  206  2016  12  Fri  49
2016-12-10   24    3   21  2016  12  Sat  49
2016-12-11    4    1    3  2016  12  Sun  49
2016-12-12  190    5  185  2016  12  Mon  50
2016-12-13  204   15  189  2016  12  Tue  50
...         ...  ...  ...   ...  ..  ...  ..
2018-03-05  182   11  171  2018   3  Mon  10
2018-03-06  196   20  176  2018   3  Tue  10
2018-03-07  160   11  149  2018   3  Wed  10
2018-03-08  147    7  140  2018   3  Thu  10
2018-03-09  127    6  121  2018   3  Fri  10
2018-03-10    0    0    0  2018   3  Sat  10
2018-03-11    0    0    0  2018   3  Sun  10
2018-03-12  199    9  190  2018   3  Mon  11
2018-03-13  163    9  154  2018   3  Tue  11
2018-03-14  135   18  117  2018   3  Wed  11
2018-03-15   90   16   74  2018   3  Thu  11
2018-03-16   62    3   59  2018   3  Fri  11
2018-03-17   16    5   11  2018   3  Sat  11
2018-03-18    0    0    0  2018   3  Sun  11
2018-03-19  219   34  185  2018   3  Mon  12
2018-03-20  128   28  100  2018   3  Tue  12
2018-03-21  191   34  157  2018   3  Wed  12
2018-03-22  136    8  128  2018   3  Thu  12
2018-03-23  230   19  211  2018   3  Fri  12
2018-03-24   22    2   20  2018   3  Sat  12
2018-03-25    0    0    0  2018   3  Sun  12
2018-03-26  211   15  196  2018   3  Mon  13
2018-03-27   92    0   92  2018   3  Tue  13
2018-03-28  127    7  120  2018   3  Wed  13
2018-03-29   65    3   62  2018   3  Thu  13
2018-03-30    5    1    4  2018   3  Fri  13
2018-03-31   16    9    7  2018   3  Sat  13
2018-04-01    0    0    0  2018   4  Sun  13
2018-04-02    3    1    2  2018   4  Mon  14
2018-04-03  240   24  216  2018   4  Tue  14

[506 rows x 7 columns]

In [84]:
nzneu

            an  vl  vb    yy  mm   wd  ww
2016-11-14   0   0   0  2016  11  Mon  46
2016-11-15   0   0   0  2016  11  Tue  46
2016-11-16   0   0   0  2016  11  Wed  46
2016-11-17   0   0   0  2016  11  Thu  46
2016-11-18   0   0   0  2016  11  Fri  46
2016-11-19   0   0   0  2016  11  Sat  46
2016-11-20   0   0   0  2016  11  Sun  46
2016-11-21   0   0   0  2016  11  Mon  47
2016-11-22   0   0   0  2016  11  Tue  47
2016-11-23   0   0   0  2016  11  Wed  47
2016-11-24   0   0   0  2016  11  Thu  47
2016-11-25   0   0   0  2016  11  Fri  47
2016-11-26   0   0   0  2016  11  Sat  47
2016-11-27   0   0   0  2016  11  Sun  47
2016-11-28   0   0   0  2016  11  Mon  48
2016-11-29   0   0   0  2016  11  Tue  48
2016-11-30   0   0   0  2016  11  Wed  48
2016-12-01   0   0   0  2016  12  Thu  48
2016-12-02   0   0   0  2016  12  Fri  48
2016-12-03   0   0   0  2016  12  Sat  48
2016-12-04   0   0   0  2016  12  Sun  48
2016-12-05   0   0   0  2016  12  Mon  49
2016-12-06   0   0   0  2016  12  Tue  49
2016-12-07   0   0   0  2016  12  Wed  49
2016-12-08   0   0   0  2016  12  Thu  49
2016-12-09   0   0   0  2016  12  Fri  49
2016-12-10   0   0   0  2016  12  Sat  49
2016-12-11   0   0   0  2016  12  Sun  49
2016-12-12   0   0   0  2016  12  Mon  50
2016-12-13   0   0   0  2016  12  Tue  50
...         ..  ..  ..   ...  ..  ...  ..
2018-03-05   9   2   7  2018   3  Mon  10
2018-03-06   0   0   0  2018   3  Tue  10
2018-03-07   3   0   3  2018   3  Wed  10
2018-03-08   3   0   3  2018   3  Thu  10
2018-03-09   7   1   6  2018   3  Fri  10
2018-03-10   0   0   0  2018   3  Sat  10
2018-03-11   3   3   0  2018   3  Sun  10
2018-03-12   2   0   2  2018   3  Mon  11
2018-03-13   0   0   0  2018   3  Tue  11
2018-03-14   1   0   1  2018   3  Wed  11
2018-03-15   4   0   4  2018   3  Thu  11
2018-03-16   6   1   5  2018   3  Fri  11
2018-03-17  10   3   7  2018   3  Sat  11
2018-03-18   2   0   2  2018   3  Sun  11
2018-03-19  12   3   9  2018   3  Mon  12
2018-03-20   5   0   5  2018   3  Tue  12
2018-03-21  10   3   7  2018   3  Wed  12
2018-03-22   2   1   1  2018   3  Thu  12
2018-03-23   5   0   5  2018   3  Fri  12
2018-03-24   4   0   4  2018   3  Sat  12
2018-03-25   2   0   2  2018   3  Sun  12
2018-03-26   4   0   4  2018   3  Mon  13
2018-03-27   2   0   2  2018   3  Tue  13
2018-03-28   4   1   3  2018   3  Wed  13
2018-03-29   2   0   2  2018   3  Thu  13
2018-03-30   0   0   0  2018   3  Fri  13
2018-03-31   6   0   6  2018   3  Sat  13
2018-04-01   3   0   3  2018   4  Sun  13
2018-04-02   0   0   0  2018   4  Mon  14
2018-04-03   8   2   6  2018   4  Tue  14

[506 rows x 7 columns]