In [1]:
## Import necessary modules
%load_ext autoreload
%autoreload 2

import os,sys
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import date2num, AutoDateFormatter, AutoDateLocator, WeekdayLocator, MonthLocator, DayLocator, DateLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
from matplotlib.ticker import AutoMinorLocator, AutoLocator, FormatStrFormatter, ScalarFormatter, MultipleLocator, FixedLocator, FuncFormatter
import numpy as np
import datetime, calendar
from datetime import timedelta
import matplotlib.patches as mpatches
from itertools import tee

sys.path.append(os.path.abspath('/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/entwuerfe/pyplots/lib/'))
from ce_funclib import determine_kernzeit as dtkz, decminutes_to_mmss as dec2min
#from ce_plotlib import abs_plot

%matplotlib tk

In [40]:
hltest='/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/entwuerfe/xls_testruns/test_1458.xls'
hlpd=pd.read_excel(hltest,usecols=[0])

In [55]:
mixed_index_val=hlpd.index.get_level_values(0)#.get_values()

In [64]:
pd.to_datetime(mixed_index,errors='coerce').max().date()

datetime.date(2018, 5, 2)

In [54]:
mixed_index_val.get_level_values(0)

Index([                nan,                 nan,                 nan,
                       nan,                 nan,             'Datum',
                       nan,                 nan,                 nan,
       2016-11-14 00:00:00,
       ...
       2018-04-23 00:00:00, 2018-04-24 00:00:00, 2018-04-25 00:00:00,
       2018-04-26 00:00:00, 2018-04-27 00:00:00, 2018-04-28 00:00:00,
       2018-04-29 00:00:00, 2018-04-30 00:00:00, 2018-05-01 00:00:00,
       2018-05-02 00:00:00],
      dtype='object', length=545)

Empty DataFrame
Columns: []
Index: [nan, nan, nan, nan, nan, Datum, nan, nan, nan, 2016-11-14 00:00:00, 2016-11-15 00:00:00, 2016-11-16 00:00:00, 2016-11-17 00:00:00, 2016-11-18 00:00:00, 2016-11-19 00:00:00, 2016-11-20 00:00:00, 2016-11-21 00:00:00, 2016-11-22 00:00:00, 2016-11-23 00:00:00, 2016-11-24 00:00:00, 2016-11-25 00:00:00, 2016-11-26 00:00:00, 2016-11-27 00:00:00, 2016-11-28 00:00:00, 2016-11-29 00:00:00, 2016-11-30 00:00:00, 2016-12-01 00:00:00, 2016-12-02 00:00:00, 2016-12-03 00:00:00, 2016-12-04 00:00:00, 2016-12-05 00:00:00, 2016-12-06 00:00:00, 2016-12-07 00:00:00, 2016-12-08 00:00:00, 2016-12-09 00:00:00, 2016-12-10 00:00:00, 2016-12-11 00:00:00, 2016-12-12 00:00:00, 2016-12-13 00:00:00, 2016-12-14 00:00:00, 2016-12-15 00:00:00, 2016-12-16 00:00:00, 2016-12-17 00:00:00, 2016-12-18 00:00:00, 2016-12-19 00:00:00, 2016-12-20 00:00:00, 2016-12-21 00:00:00, 2016-12-22 00:00:00, 2016-12-23 00:00:00, 2016-12-24 00:00:00, 2016-12-25 00:00:00, 2016-12-26 00:00:00, 2016-12-27 00:00:00, 2016-12-28 00:00:00, 2016-12-29 00:00:00, 2016-12-30 00:00:00, 2016-12-31 00:00:00, 2017-01-01 00:00:00, 2017-01-02 00:00:00, 2017-01-03 00:00:00, 2017-01-04 00:00:00, 2017-01-05 00:00:00, 2017-01-06 00:00:00, 2017-01-07 00:00:00, 2017-01-08 00:00:00, 2017-01-09 00:00:00, 2017-01-10 00:00:00, 2017-01-11 00:00:00, 2017-01-12 00:00:00, 2017-01-13 00:00:00, 2017-01-14 00:00:00, 2017-01-15 00:00:00, 2017-01-16 00:00:00, 2017-01-17 00:00:00, 2017-01-18 00:00:00, 2017-01-19 00:00:00, 2017-01-20 00:00:00, 2017-01-21 00:00:00, 2017-01-22 00:00:00, 2017-01-23 00:00:00, 2017-01-24 00:00:00, 2017-01-25 00:00:00, 2017-01-26 00:00:00, 2017-01-27 00:00:00, 2017-01-28 00:00:00, 2017-01-29 00:00:00, 2017-01-30 00:00:00, 2017-01-31 00:00:00, 2017-02-01 00:00:00, 2017-02-02 00:00:00, 2017-02-03 00:00:00, 2017-02-04 00:00:00, 2017-02-05 00:00:00, 2017-02-06 00:00:00, 2017-02-07 00:00:00, 2017-02-08 00:00:00, 2017-02-09 00:00:00, 2017-02-10 00:00:00, 2017-02-11 00:00:00, 2017-02-12 00:00:00, ...]

[545 rows x 0 columns]