In [3]:
## Import necessary modules
import os,sys
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import date2num, AutoDateFormatter, AutoDateLocator, WeekdayLocator, MonthLocator, DayLocator, DateLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
from matplotlib.ticker import AutoMinorLocator, AutoLocator, FormatStrFormatter, ScalarFormatter
import numpy as np
import datetime, calendar
from datetime import timedelta
import matplotlib.patches as mpatches
from itertools import tee

%matplotlib tk

In [35]:
## import data
hotlinedata=pd.read_pickle('/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/pkl_plots_calls_1458.pkl')
hotlinedata.head(5) # ist ein dataframe

,month,year,0,1,2,3,4,5,6,7,...,21,22,23,24,summa,xlday,day,date,week,weekday
tix,11,2016,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,06:30-07:30,...,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,NaN,42688.0,14,2016-11-14,46,Mon
angekommen,11,2016,0,0,0,0,0,0,1,5,...,0,1,0,0,321,42688.0,14,2016-11-14,46,Mon
verbunden,11,2016,0,0,0,0,0,0,0,4,...,0,0,0,0,221,42688.0,14,2016-11-14,46,Mon
verloren,11,2016,0,0,0,0,0,0,1,1,...,0,1,0,0,100,42688.0,14,2016-11-14,46,Mon
servicelevel,11,2016,NaN,NaN,NaN,NaN,NaN,NaN,0,0.8,...,NaN,0,NaN,NaN,0.688474,42688.0,14,2016-11-14,46,Mon

In [41]:
# frame aufgesplittet in 3 einzelne
angekommene=hotlinedata.loc['angekommen'].copy()
verbundene=hotlinedata.loc['verbunden'].copy()
verlorene=hotlinedata.loc['verloren'].copy()

In [42]:
angekommene

,month,year,0,1,2,3,4,5,6,7,...,21,22,23,24,summa,xlday,day,date,week,weekday
angekommen,11,2016,0,0,0,0,0,0,1,5,...,0,1,0,0,321,42688.0,14,2016-11-14,46,Mon
angekommen,11,2016,0,0,0,0,0,0,1,3,...,0,0,0,0,152,42689.0,15,2016-11-15,46,Tue
angekommen,11,2016,0,0,0,0,0,0,0,4,...,0,1,0,0,75,42690.0,16,2016-11-16,46,Wed
angekommen,11,2016,0,0,0,1,0,0,0,4,...,0,1,0,0,91,42691.0,17,2016-11-17,46,Thu
angekommen,11,2016,0,0,0,0,0,0,0,4,...,1,0,0,0,112,42692.0,18,2016-11-18,46,Fri
angekommen,11,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,36,42693.0,19,2016-11-19,46,Sat
angekommen,11,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,5,42694.0,20,2016-11-20,46,Sun
angekommen,11,2016,0,0,0,0,0,0,1,6,...,0,1,0,0,184,42695.0,21,2016-11-21,47,Mon
angekommen,11,2016,0,0,0,0,0,0,3,0,...,1,1,0,0,79,42696.0,22,2016-11-22,47,Tue
angekommen,11,2016,1,0,0,0,0,1,1,7,...,0,0,0,0,64,42697.0,23,2016-11-23,47,Wed
angekommen,11,2016,0,0,0,0,0,0,0,2,...,2,0,0,0,74,42698.0,24,2016-11-24,47,Thu
angekommen,11,2016,0,0,0,0,0,0,0,4,...,0,1,0,0,62,42699.0,25,2016-11-25,47,Fri
angekommen,11,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,36,42700.0,26,2016-11-26,47,Sat
angekommen,11,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,4,42701.0,27,2016-11-27,47,Sun
angekommen,11,2016,0,0,0,0,0,0,0,2,...,0,0,0,0,98,42702.0,28,2016-11-28,48,Mon
angekommen,11,2016,0,0,0,0,0,0,0,2,...,0,1,0,0,77,42703.0,29,2016-11-29,48,Tue
angekommen,11,2016,0,0,0,0,0,0,0,1,...,0,0,0,0,188,42704.0,30,2016-11-30,48,Wed
angekommen,12,2016,0,0,0,0,0,0,0,3,...,1,0,0,0,81,42705.0,1,2016-12-01,48,Thu
angekommen,12,2016,0,0,0,0,0,0,4,0,...,0,0,0,0,141,42706.0,2,2016-12-02,48,Fri
angekommen,12,2016,0,0,0,0,0,0,0,2,...,0,0,0,0,32,42707.0,3,2016-12-03,48,Sat
angekommen,12,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,11,42708.0,4,2016-12-04,48,Sun
angekommen,12,2016,0,0,0,0,0,0,0,3,...,0,0,0,0,186,42709.0,5,2016-12-05,49,Mon
angekommen,12,2016,0,0,0,0,0,0,1,1,...,0,0,0,0,122,42710.0,6,2016-12-06,49,Tue
angekommen,12,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,94,42711.0,7,2016-12-07,49,Wed
angekommen,12,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,203,42712.0,8,2016-12-08,49,Thu
angekommen,12,2016,0,0,0,0,0,0,0,3,...,0,0,0,0,244,42713.0,9,2016-12-09,49,Fri
angekommen,12,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,24,42714.0,10,2016-12-10,49,Sat
angekommen,12,2016,0,0,0,0,0,0,0,0,...,0,0,0,0,4,42715.0,11,2016-12-11,49,Sun
angekommen,12,2016,0,0,0,0,0,0,1,4,...,1,0,0,0,190,42716.0,12,2016-12-12,50,Mon
angekommen,12,2016,0,0,0,0,1,0,1,3,...,2,0,0,0,204,42717.0,13,2016-12-13,50,Tue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,1,43163.0,4,2018-03-04,9,Sun
angekommen,3,2018,0,0,0,0,0,0,0,2,...,0,0,0,1,191,43164.0,5,2018-03-05,10,Mon
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,196,43165.0,6,2018-03-06,10,Tue
angekommen,3,2018,0,0,0,0,0,0,0,2,...,0,0,0,0,163,43166.0,7,2018-03-07,10,Wed
angekommen,3,2018,0,0,0,0,0,0,0,0,...,1,0,0,0,150,43167.0,8,2018-03-08,10,Thu
angekommen,3,2018,0,0,0,0,0,0,0,4,...,0,0,0,0,134,43168.0,9,2018-03-09,10,Fri
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,3,43170.0,11,2018-03-11,10,Sun
angekommen,3,2018,0,0,0,0,0,0,1,1,...,0,0,0,0,201,43171.0,12,2018-03-12,11,Mon
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,163,43172.0,13,2018-03-13,11,Tue
angekommen,3,2018,0,0,0,0,0,0,0,1,...,0,0,0,0,136,43173.0,14,2018-03-14,11,Wed
angekommen,3,2018,0,0,0,0,0,1,0,2,...,0,1,0,0,94,43174.0,15,2018-03-15,11,Thu
angekommen,3,2018,0,0,0,0,0,0,0,5,...,0,0,0,0,68,43175.0,16,2018-03-16,11,Fri
angekommen,3,2018,0,0,0,0,0,0,1,0,...,0,0,0,0,26,43176.0,17,2018-03-17,11,Sat
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,2,43177.0,18,2018-03-18,11,Sun
angekommen,3,2018,0,0,0,0,0,0,0,7,...,0,0,0,0,231,43178.0,19,2018-03-19,12,Mon
angekommen,3,2018,0,0,0,0,0,0,0,4,...,0,0,0,0,133,43179.0,20,2018-03-20,12,Tue
angekommen,3,2018,0,0,0,0,0,0,0,5,...,2,0,0,0,201,43180.0,21,2018-03-21,12,Wed
angekommen,3,2018,0,0,0,0,0,0,0,1,...,0,0,0,0,138,43181.0,22,2018-03-22,12,Thu
angekommen,3,2018,0,0,0,0,0,0,0,3,...,0,0,0,0,235,43182.0,23,2018-03-23,12,Fri
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,26,43183.0,24,2018-03-24,12,Sat
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,2,43184.0,25,2018-03-25,12,Sun
angekommen,3,2018,0,0,0,0,0,0,0,3,...,0,0,0,0,215,43185.0,26,2018-03-26,13,Mon
angekommen,3,2018,0,0,0,0,0,0,0,1,...,1,0,0,0,94,43186.0,27,2018-03-27,13,Tue
angekommen,3,2018,0,0,0,0,0,0,0,3,...,0,0,0,0,131,43187.0,28,2018-03-28,13,Wed
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,67,43188.0,29,2018-03-29,13,Thu
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,5,43189.0,30,2018-03-30,13,Fri
angekommen,3,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,22,43190.0,31,2018-03-31,13,Sat
angekommen,4,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,3,43191.0,1,2018-04-01,13,Sun
angekommen,4,2018,0,0,0,0,0,0,0,0,...,0,0,0,0,3,43192.0,2,2018-04-02,14,Mon
angekommen,4,2018,0,0,0,0,0,0,0,2,...,2,0,0,0,248,43193.0,3,2018-04-03,14,Tue

In [44]:
## import data
hotlinedata2=pd.read_pickle('/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/doe_pickle_1458.pkl')
hotlinedata2.tail(5) # ist ein dataframe

,tm,dt,yy,mm,ww,wd,dd,xl,hh,an,vb,vl,ht,tt,acw,bz,dectt,decht,decacw
2018-04-03 22:45:00,22:45:00,2018-04-03,2018,4,14,Tue,3,43193,22,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:00:00,23:00:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:15:00,23:15:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:30:00,23:30:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:45:00,23:45:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00

In [46]:
hotlinedata2.tail(50)

,tm,dt,yy,mm,ww,wd,dd,xl,hh,an,vb,vl,ht,tt,acw,bz,dectt,decht,decacw
2018-04-03 11:30:00,11:30:00,2018-04-03,2018,4,14,Tue,3,43193,11,1,1,0,0.00239583,0.00170139,0.000694444,k,0:00:02.450000,0:00:03.450000,0:00:01
2018-04-03 11:45:00,11:45:00,2018-04-03,2018,4,14,Tue,3,43193,11,4,4,0,0.0126042,0.010787,0.00181713,k,0:00:15.533333,0:00:18.150000,0:00:02.616667
2018-04-03 12:00:00,12:00:00,2018-04-03,2018,4,14,Tue,3,43193,12,0,0,0,0,0,0,k,0:00:00,0:00:00,0:00:00
2018-04-03 12:15:00,12:15:00,2018-04-03,2018,4,14,Tue,3,43193,12,3,3,0,0.0128819,0.0107986,0.00208333,k,0:00:15.550000,0:00:18.550000,0:00:03
2018-04-03 12:30:00,12:30:00,2018-04-03,2018,4,14,Tue,3,43193,12,0,0,0,0,0,0,k,0:00:00,0:00:00,0:00:00
2018-04-03 12:45:00,12:45:00,2018-04-03,2018,4,14,Tue,3,43193,12,0,0,0,0,0,0,k,0:00:00,0:00:00,0:00:00
2018-04-03 13:00:00,13:00:00,2018-04-03,2018,4,14,Tue,3,43193,13,8,8,0,0.0230671,0.0187616,0.00430556,k,0:00:27.016667,0:00:33.216667,0:00:06.200000
2018-04-03 13:15:00,13:15:00,2018-04-03,2018,4,14,Tue,3,43193,13,6,5,1,0.013287,0.0109028,0.00238426,k,0:00:15.700000,0:00:19.133333,0:00:03.433333
2018-04-03 13:30:00,13:30:00,2018-04-03,2018,4,14,Tue,3,43193,13,4,3,1,0.00755787,0.00615741,0.00140046,k,0:00:08.866667,0:00:10.883333,0:00:02.016667
2018-04-03 13:45:00,13:45:00,2018-04-03,2018,4,14,Tue,3,43193,13,1,1,0,0.00842593,0.00773148,0.000694444,k,0:00:11.133333,0:00:12.133333,0:00:01
2018-04-03 14:00:00,14:00:00,2018-04-03,2018,4,14,Tue,3,43193,14,3,3,0,0.00946759,0.00784722,0.00162037,k,0:00:11.300000,0:00:13.633333,0:00:02.333333
2018-04-03 14:15:00,14:15:00,2018-04-03,2018,4,14,Tue,3,43193,14,8,8,0,0.0187037,0.0147569,0.00394676,k,0:00:21.250000,0:00:26.933333,0:00:05.683333
2018-04-03 14:30:00,14:30:00,2018-04-03,2018,4,14,Tue,3,43193,14,2,2,0,0.00527778,0.00413194,0.00114583,k,0:00:05.950000,0:00:07.600000,0:00:01.650000
2018-04-03 14:45:00,14:45:00,2018-04-03,2018,4,14,Tue,3,43193,14,3,3,0,0.0104745,0.00947917,0.00099537,k,0:00:13.650000,0:00:15.083333,0:00:01.433333
2018-04-03 15:00:00,15:00:00,2018-04-03,2018,4,14,Tue,3,43193,15,2,2,0,0.00847222,0.00775463,0.000717593,k,0:00:11.166667,0:00:12.200000,0:00:01.033333
2018-04-03 15:15:00,15:15:00,2018-04-03,2018,4,14,Tue,3,43193,15,2,2,0,0.00481481,0.00440972,0.000405093,k,0:00:06.350000,0:00:06.933333,0:00:00.583333
2018-04-03 15:30:00,15:30:00,2018-04-03,2018,4,14,Tue,3,43193,15,5,4,1,0.00763889,0.00547454,0.00216435,k,0:00:07.883333,0:00:11,0:00:03.116667
2018-04-03 15:45:00,15:45:00,2018-04-03,2018,4,14,Tue,3,43193,15,14,13,1,0.0321065,0.0278704,0.00423611,k,0:00:40.133333,0:00:46.233333,0:00:06.100000
2018-04-03 16:00:00,16:00:00,2018-04-03,2018,4,14,Tue,3,43193,16,10,10,0,0.0375347,0.0339468,0.00358796,k,0:00:48.883333,0:00:54.050000,0:00:05.166667
2018-04-03 16:15:00,16:15:00,2018-04-03,2018,4,14,Tue,3,43193,16,6,5,1,0.0161227,0.013206,0.00291667,k,0:00:19.016667,0:00:23.216667,0:00:04.200000
2018-04-03 16:30:00,16:30:00,2018-04-03,2018,4,14,Tue,3,43193,16,7,7,0,0.0185417,0.0154282,0.00311343,k,0:00:22.216667,0:00:26.700000,0:00:04.483333
2018-04-03 16:45:00,16:45:00,2018-04-03,2018,4,14,Tue,3,43193,16,1,1,0,0.00940972,0.00871528,0.000694444,k,0:00:12.550000,0:00:13.550000,0:00:01
2018-04-03 17:00:00,17:00:00,2018-04-03,2018,4,14,Tue,3,43193,17,9,9,0,0.0276852,0.0253935,0.00229167,k,0:00:36.566667,0:00:39.866667,0:00:03.300000
2018-04-03 17:15:00,17:15:00,2018-04-03,2018,4,14,Tue,3,43193,17,7,7,0,0.0284838,0.0248148,0.00366898,k,0:00:35.733333,0:00:41.016667,0:00:05.283333
2018-04-03 17:30:00,17:30:00,2018-04-03,2018,4,14,Tue,3,43193,17,15,8,7,0.0360532,0.0328241,0.00322917,k,0:00:47.266667,0:00:51.916667,0:00:04.650000
2018-04-03 17:45:00,17:45:00,2018-04-03,2018,4,14,Tue,3,43193,17,6,6,0,0.0178125,0.0155903,0.00222222,k,0:00:22.450000,0:00:25.650000,0:00:03.200000
2018-04-03 18:00:00,18:00:00,2018-04-03,2018,4,14,Tue,3,43193,18,5,3,2,0.00709491,0.00596065,0.00113426,k,0:00:08.583333,0:00:10.216667,0:00:01.633333
2018-04-03 18:15:00,18:15:00,2018-04-03,2018,4,14,Tue,3,43193,18,4,1,3,0.00560185,0.00490741,0.000694444,k,0:00:07.066667,0:00:08.066667,0:00:01
2018-04-03 18:30:00,18:30:00,2018-04-03,2018,4,14,Tue,3,43193,18,3,3,0,0.00584491,0.00443287,0.00141204,k,0:00:06.383333,0:00:08.416667,0:00:02.033333
2018-04-03 18:45:00,18:45:00,2018-04-03,2018,4,14,Tue,3,43193,18,1,1,0,0.00340278,0.00270833,0.000694444,k,0:00:03.900000,0:00:04.900000,0:00:01
2018-04-03 19:00:00,19:00:00,2018-04-03,2018,4,14,Tue,3,43193,19,1,1,0,0.00247685,0.00239583,8.10185e-05,k,0:00:03.450000,0:00:03.566667,0:00:00.116667
2018-04-03 19:15:00,19:15:00,2018-04-03,2018,4,14,Tue,3,43193,19,2,2,0,0.00479167,0.00416667,0.000625,k,0:00:06,0:00:06.900000,0:00:00.900000
2018-04-03 19:30:00,19:30:00,2018-04-03,2018,4,14,Tue,3,43193,19,0,0,0,0,0,0,k,0:00:00,0:00:00,0:00:00
2018-04-03 19:45:00,19:45:00,2018-04-03,2018,4,14,Tue,3,43193,19,0,0,0,0,0,0,k,0:00:00,0:00:00,0:00:00
2018-04-03 20:00:00,20:00:00,2018-04-03,2018,4,14,Tue,3,43193,20,4,2,2,0.00465278,0.00341435,0.00123843,n,0:00:04.916667,0:00:06.700000,0:00:01.783333
2018-04-03 20:15:00,20:15:00,2018-04-03,2018,4,14,Tue,3,43193,20,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 20:30:00,20:30:00,2018-04-03,2018,4,14,Tue,3,43193,20,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 20:45:00,20:45:00,2018-04-03,2018,4,14,Tue,3,43193,20,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 21:00:00,21:00:00,2018-04-03,2018,4,14,Tue,3,43193,21,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 21:15:00,21:15:00,2018-04-03,2018,4,14,Tue,3,43193,21,2,2,0,0.00241898,0.00103009,0.00138889,n,0:00:01.483333,0:00:03.483333,0:00:02
2018-04-03 21:30:00,21:30:00,2018-04-03,2018,4,14,Tue,3,43193,21,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 21:45:00,21:45:00,2018-04-03,2018,4,14,Tue,3,43193,21,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 22:00:00,22:00:00,2018-04-03,2018,4,14,Tue,3,43193,22,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 22:15:00,22:15:00,2018-04-03,2018,4,14,Tue,3,43193,22,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 22:30:00,22:30:00,2018-04-03,2018,4,14,Tue,3,43193,22,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 22:45:00,22:45:00,2018-04-03,2018,4,14,Tue,3,43193,22,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:00:00,23:00:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:15:00,23:15:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:30:00,23:30:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:45:00,23:45:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00

In [50]:
hotline2018=hotlinedata2.loc[hotlinedata2['yy'] == 2018].copy()

In [55]:
nebenzeit=hotlinedata2.loc[hotlinedata2['bz'] == 'n'].copy()
kernzeit=hotlinedata2.loc[hotlinedata2['bz'] == 'k'].copy()

In [58]:
nebenzeit.tail(5)

,tm,dt,yy,mm,ww,wd,dd,xl,hh,an,vb,vl,ht,tt,acw,bz,dectt,decht,decacw
2018-04-03 22:45:00,22:45:00,2018-04-03,2018,4,14,Tue,3,43193,22,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:00:00,23:00:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:15:00,23:15:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:30:00,23:30:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00
2018-04-03 23:45:00,23:45:00,2018-04-03,2018,4,14,Tue,3,43193,23,0,0,0,0,0,0,n,0:00:00,0:00:00,0:00:00

In [68]:
funx={'yy':'first','mm':'first','ww':'first','wd':'first','an':'sum','vb':'sum','vl':'sum'}
nebenzeit_nach_datum=nebenzeit.groupby('dt').agg(funx).copy()
kernzeit_nach_datum=kernzeit.groupby('dt').agg(funx).copy()

In [71]:
kernzeit_nach_datum

              yy   wd  ww   vl   vb   an  mm
dt
2016-11-14  2016  Mon  46  100  221  321  11
2016-11-15  2016  Tue  46   20  132  152  11
2016-11-16  2016  Wed  46   11   64   75  11
2016-11-17  2016  Thu  46    7   84   91  11
2016-11-18  2016  Fri  46   22   90  112  11
2016-11-19  2016  Sat  46    9   27   36  11
2016-11-20  2016  Sun  46    0    5    5  11
2016-11-21  2016  Mon  47   25  159  184  11
2016-11-22  2016  Tue  47   15   64   79  11
2016-11-23  2016  Wed  47    8   56   64  11
2016-11-24  2016  Thu  47   10   64   74  11
2016-11-25  2016  Fri  47   10   52   62  11
2016-11-26  2016  Sat  47    4   32   36  11
2016-11-27  2016  Sun  47    2    2    4  11
2016-11-28  2016  Mon  48    3   95   98  11
2016-11-29  2016  Tue  48    6   71   77  11
2016-11-30  2016  Wed  48   17  171  188  11
2016-12-01  2016  Thu  48    7   74   81  12
2016-12-02  2016  Fri  48   11  130  141  12
2016-12-03  2016  Sat  48    3   29   32  12
2016-12-04  2016  Sun  48    8    3   11  12
2016-12-05  2016  Mon  49    8  178  186  12
2016-12-06  2016  Tue  49    4  118  122  12
2016-12-07  2016  Wed  49   14   80   94  12
2016-12-08  2016  Thu  49   32  171  203  12
2016-12-09  2016  Fri  49   38  206  244  12
2016-12-10  2016  Sat  49    3   21   24  12
2016-12-11  2016  Sun  49    1    3    4  12
2016-12-12  2016  Mon  50    5  185  190  12
2016-12-13  2016  Tue  50   15  189  204  12
...          ...  ...  ..  ...  ...  ...  ..
2018-02-27  2018  Tue   9    3   71   74   2
2018-02-28  2018  Wed   9    9   96  105   2
2018-03-01  2018  Thu   9   10  165  175   3
2018-03-02  2018  Fri   9   21  178  199   3
2018-03-03  2018  Sat   9    5    9   14   3
2018-03-05  2018  Mon  10   11  171  182   3
2018-03-06  2018  Tue  10   20  176  196   3
2018-03-07  2018  Wed  10   11  149  160   3
2018-03-08  2018  Thu  10    7  140  147   3
2018-03-09  2018  Fri  10    6  121  127   3
2018-03-12  2018  Mon  11    9  190  199   3
2018-03-13  2018  Tue  11    9  154  163   3
2018-03-14  2018  Wed  11   18  117  135   3
2018-03-15  2018  Thu  11   16   74   90   3
2018-03-16  2018  Fri  11    3   59   62   3
2018-03-17  2018  Sat  11    5   11   16   3
2018-03-19  2018  Mon  12   34  185  219   3
2018-03-20  2018  Tue  12   28  100  128   3
2018-03-21  2018  Wed  12   34  157  191   3
2018-03-22  2018  Thu  12    8  128  136   3
2018-03-23  2018  Fri  12   19  211  230   3
2018-03-24  2018  Sat  12    2   20   22   3
2018-03-26  2018  Mon  13   15  196  211   3
2018-03-27  2018  Tue  13    0   92   92   3
2018-03-28  2018  Wed  13    7  120  127   3
2018-03-29  2018  Thu  13    3   62   65   3
2018-03-30  2018  Fri  13    1    4    5   3
2018-03-31  2018  Sat  13    9    7   16   3
2018-04-02  2018  Mon  14    1    2    3   4
2018-04-03  2018  Tue  14   24  216  240   4

[430 rows x 7 columns]