In [71]:
## Import necessary modules
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import AutoDateFormatter, AutoDateLocator, WeekdayLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
import numpy as np
import datetime
%matplotlib gtk

In [72]:
## Import data frome pickle generated from hotline_daily.py
data = pd.read_pickle('pickle_hotline_0904.pkl')
data.head(3)

,month,year,0,1,2,3,4,5,6,7,...,21,22,23,24,summa,xlday,day,date,week,weekday
tix,11,2016,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,06:30-07:30,...,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,NaN,42688.0,14,2016-11-14,46,Mon
angekommen,11,2016,0,0,0,0,0,0,1,5,...,0,1,0,0,321,42688.0,14,2016-11-14,46,Mon
verbunden,11,2016,0,0,0,0,0,0,0,4,...,0,0,0,0,221,42688.0,14,2016-11-14,46,Mon

In [73]:
## rearrange dataframe
h_ix=range(0,25)
c_ix=['date','year','month','week','day','weekday','xlday','summa']
c_ix.extend(h_ix)
data=data[c_ix]
data.head(5)

,date,year,month,week,day,weekday,xlday,summa,0,1,...,15,16,17,18,19,20,21,22,23,24
tix,2016-11-14,2016,11,46,14,Mon,42688.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2016-11-14,2016,11,46,14,Mon,42688.0,321,0,0,...,18,14,9,7,5,0,0,1,0,0
verbunden,2016-11-14,2016,11,46,14,Mon,42688.0,221,0,0,...,18,13,8,5,5,0,0,0,0,0
verloren,2016-11-14,2016,11,46,14,Mon,42688.0,100,0,0,...,0,1,1,2,0,0,0,1,0,0
servicelevel,2016-11-14,2016,11,46,14,Mon,42688.0,0.688474,NaN,NaN,...,1,0.928571,0.888889,0.714286,1,NaN,NaN,0,NaN,NaN

**Dataframe kann hier noch nach Monaten, Wochen usw. gefiltert werden
momentan wird einfach der gesamte Datenbestand genommen
Alles, was spÃ¤ter in den Plot kommt, kann gleich bleiben.
also: data = data[Filter hier; wochen etc.], danach kann alles normal weitergehen**

In [74]:
## CONDITIONS 
# March 2017 without Weekends
#data = data.ix[((data['year']==2017) & (data['month']==3)) & ((data['weekday'] != 'Sat') & (data['weekday'] != 'Sun'))]

# March 2017 with Weekends
#data = data.ix[((data['year']==2017) & (data['month']==3))]

# Week 10 of 2017 with Weekends
data = data.ix[((data['year']==2017) & (data['week']==10))]

# etc.... Mondays and so on
data

,date,year,month,week,day,weekday,xlday,summa,0,1,...,15,16,17,18,19,20,21,22,23,24
tix,2017-03-06,2017,3,10,6,Mon,42800.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-06,2017,3,10,6,Mon,42800.0,56,0,0,...,0,3,5,36,2,1,0,0,0,0
verbunden,2017-03-06,2017,3,10,6,Mon,42800.0,31,0,0,...,0,3,5,16,0,0,0,0,0,0
verloren,2017-03-06,2017,3,10,6,Mon,42800.0,25,0,0,...,0,0,0,20,2,1,0,0,0,0
servicelevel,2017-03-06,2017,3,10,6,Mon,42800.0,0.553571,NaN,NaN,...,NaN,1,1,0.444444,0,0,NaN,NaN,NaN,NaN
tix,2017-03-07,2017,3,10,7,Tue,42801.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-07,2017,3,10,7,Tue,42801.0,25,0,0,...,0,2,2,15,1,3,1,0,0,0
verbunden,2017-03-07,2017,3,10,7,Tue,42801.0,21,0,0,...,0,2,2,11,1,3,1,0,0,0
verloren,2017-03-07,2017,3,10,7,Tue,42801.0,4,0,0,...,0,0,0,4,0,0,0,0,0,0
servicelevel,2017-03-07,2017,3,10,7,Tue,42801.0,0.84,NaN,NaN,...,NaN,1,1,0.733333,1,1,1,NaN,NaN,NaN
tix,2017-03-08,2017,3,10,8,Wed,42802.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-08,2017,3,10,8,Wed,42802.0,53,0,0,...,0,13,5,23,3,0,0,0,0,0
verbunden,2017-03-08,2017,3,10,8,Wed,42802.0,44,0,0,...,0,12,5,20,3,0,0,0,0,0
verloren,2017-03-08,2017,3,10,8,Wed,42802.0,9,0,0,...,0,1,0,3,0,0,0,0,0,0
servicelevel,2017-03-08,2017,3,10,8,Wed,42802.0,0.830189,NaN,NaN,...,NaN,0.923077,1,0.869565,1,NaN,NaN,NaN,NaN,NaN
tix,2017-03-09,2017,3,10,9,Thu,42803.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-09,2017,3,10,9,Thu,42803.0,101,0,0,...,10,9,13,31,7,2,1,0,0,0
verbunden,2017-03-09,2017,3,10,9,Thu,42803.0,92,0,0,...,8,9,13,25,7,2,1,0,0,0
verloren,2017-03-09,2017,3,10,9,Thu,42803.0,9,0,0,...,2,0,0,6,0,0,0,0,0,0
servicelevel,2017-03-09,2017,3,10,9,Thu,42803.0,0.910891,NaN,NaN,...,0.8,1,1,0.806452,1,1,1,NaN,NaN,NaN
tix,2017-03-10,2017,3,10,10,Fri,42804.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-10,2017,3,10,10,Fri,42804.0,64,0,0,...,3,13,7,12,9,2,0,0,0,0
verbunden,2017-03-10,2017,3,10,10,Fri,42804.0,63,0,0,...,3,13,7,11,9,2,0,0,0,0
verloren,2017-03-10,2017,3,10,10,Fri,42804.0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
servicelevel,2017-03-10,2017,3,10,10,Fri,42804.0,0.984375,NaN,NaN,...,1,1,1,0.916667,1,1,NaN,NaN,NaN,NaN
tix,2017-03-11,2017,3,10,11,Sat,42805.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-11,2017,3,10,11,Sat,42805.0,28,0,0,...,2,1,2,0,0,0,0,0,0,0
verbunden,2017-03-11,2017,3,10,11,Sat,42805.0,28,0,0,...,2,1,2,0,0,0,0,0,0,0
verloren,2017-03-11,2017,3,10,11,Sat,42805.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
servicelevel,2017-03-11,2017,3,10,11,Sat,42805.0,1,NaN,NaN,...,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tix,2017-03-12,2017,3,10,12,Sun,42806.0,NaN,00:00-00:30,00:30-01:30,...,14:30-15:30,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00
angekommen,2017-03-12,2017,3,10,12,Sun,42806.0,4,0,0,...,1,0,2,0,0,0,0,0,0,0
verbunden,2017-03-12,2017,3,10,12,Sun,42806.0,4,0,0,...,1,0,2,0,0,0,0,0,0,0
verloren,2017-03-12,2017,3,10,12,Sun,42806.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
servicelevel,2017-03-12,2017,3,10,12,Sun,42806.0,1,NaN,NaN,...,1,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
##split into dataframes with same index
angek_df=data.loc['angekommen'].set_index('xlday')
verbu_df=data.loc['verbunden'].set_index('xlday')
verlo_df=data.loc['verloren'].set_index('xlday')

## how many days?
datasetdays = angek_df.date.nunique()
print datasetdays

## have a glance
angek_df.head(3)

7

,date,year,month,week,day,weekday,summa,0,1,2,...,15,16,17,18,19,20,21,22,23,24
xlday,,,,,,,,,,,,,,,,,,,,,
42800.0,2017-03-06,2017,3,10,6,Mon,56,0,0,0,...,0,3,5,36,2,1,0,0,0,0
42801.0,2017-03-07,2017,3,10,7,Tue,25,0,0,0,...,0,2,2,15,1,3,1,0,0,0
42802.0,2017-03-08,2017,3,10,8,Wed,53,0,0,0,...,0,13,5,23,3,0,0,0,0,0

In [76]:
## JUST FOR VALIDATION PURPOSES

## this would be 12:30-13:30 or column 16 in the excelsheet
#print verbu_df[13].sum(),verlo_df[13].sum(),angek_df[13].sum(),' this is correct'
#print 'SLA fÃ¼r 12:30-13:30 auf alle Tage gerechnet wÃ¤re: ',verbu_df[13].sum()/angek_df[13].sum()

#print verbu_df[9].sum(),verlo_df[9].sum(),angek_df[9].sum(),' this is correct'
#print 'SLA fÃ¼r 8:30-9:30 auf alle Tage gerechnet wÃ¤re: ',verbu_df[9].sum()/angek_df[9].sum()

#print verbu_df[h_ix].sum()

In [77]:
## for the plot I'd like to have an X-Axis(=Index of df) of hours and a 
## Y-Axis(=columns) for verbunden,lost,angekommen plus the average sla per hour

hixframe = pd.DataFrame(index=h_ix)
hixframe['h_steps'] = data.loc['tix'][h_ix].iloc[0]
hixframe['angekommen'] = angek_df[h_ix].sum()
hixframe['verbunden'] = verbu_df[h_ix].sum()
hixframe['verloren'] = verlo_df[h_ix].sum()

hixframe['av_angekommen'] = angek_df[h_ix].sum()/datasetdays
hixframe['av_verbunden'] = verbu_df[h_ix].sum()/datasetdays
hixframe['av_verloren'] = verlo_df[h_ix].sum()/datasetdays

hixframe['sla_percent'] = (verbu_df[h_ix].sum()/angek_df[h_ix].sum())*100
hixframe.loc[[9,10,11]]

,h_steps,angekommen,verbunden,verloren,av_angekommen,av_verbunden,av_verloren,sla_percent
9,08:30-09:30,1.0,1.0,0.0,0.142857,0.142857,0.0,100.0
10,09:30-10:30,6.0,6.0,0.0,0.857143,0.857143,0.0,100.0
11,10:30-11:30,6.0,6.0,0.0,0.857143,0.857143,0.0,100.0

In [78]:
## Create the plot from the summary dataframe
## X-Axis should be dates, Y-Axis should be number of calls

fig = plt.figure(figsize=(12,6))
fig.add_subplot(111)
plt.xlabel('Stunden')
plt.title('Durchschnittliche Stunde KW 10 / 2017')

# "Initialize" Axes to configure them later
ax = plt.axes()
ax.set_ylabel('Calls')
ax.set_axisbelow(True)

# Y-Axis1: major ticks every 50, minor ticks every 10                                    
minor_ticks_ax = np.arange(0, hixframe.av_angekommen.max(), 0.2)
major_ticks_ax = np.arange(0, hixframe.av_angekommen.max(), 1)
ax.yaxis.grid(True)
ax.set_yticks(minor_ticks_ax, minor=True)
ax.set_yticks(major_ticks_ax)
ax.yaxis.grid(True, which='minor', color='#E8E6BF', linestyle='--', alpha=0.5, zorder=0)
ax.yaxis.grid(True, which='major', color='#6DC3EC', linestyle='-', zorder=3)

# X-Axis: locator set the ticks. No understanding of this, just copy-and-paste...
ax.set_xticks(hixframe.index[::2,]) # every second element from index, starting at 0
ax.set_xticks(hixframe.index[1::2,], minor=True) # every second element from index, starting at 1, set to minor ticks
ax.set_xticklabels(hixframe.h_steps[::2,])
ax.set_xticklabels(hixframe.h_steps[1::2,], minor=True)
ax.xaxis.set_tick_params(which='major', pad=1, length=20, width=1.5, labelsize=8)
ax.xaxis.set_tick_params(which='minor', pad=1, length=5, width=1.5, labelsize=8)

# Bars for each sum and day
ax.bar(hixframe.index,hixframe.av_angekommen,width=0.9, alpha=1, color='#8F8F8F', label='angekommen', align='center')
ax.bar(hixframe.index,hixframe.av_verbunden,width=0.2, alpha=1, color='#00B9FF', label='verbunden', align='center')
ax.bar(hixframe.index,hixframe.av_verloren,width=0.2, alpha=1, color='#FF0056', label='verloren', align='center')
ax.legend(loc=2)

# Markers for SLA
colors=['lightgreen' if i>80 else '#FFA2BE' for i in hixframe.sla_percent]
ax2 = ax.twinx() # for second scale "sla"
ax2.set_ylim([-100,105]) # Y-Axis 2: Set Label Range
minor_ticks_ax2 = np.arange(0, 105, 10)
ax2.set_yticks(minor_ticks_ax2)
ax2.axhline(y=80, color='#D7207A', alpha=0.5, linestyle='-', label="80% SLA") # show the desired SLA
ax2.set_ylabel('SLA %')
#ax2.plot(hixframe.index, hixframe.sla_percent, c='green', marker='8', markersize='4', linestyle='none', label='SLA %')
ax2.scatter(hixframe.index, hixframe.sla_percent, c=colors, label='SLA %')
ax2.legend(loc=1)


# Legend and Layout formatting after the plotting has taken place
plt.margins(0.01)
plt.tight_layout()