In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib gtk

In [4]:
data = pd.read_pickle('pickle_hotline_0904.pkl')

In [5]:
d1 = data.loc[['angekommen','verbunden']][['day','summa']]

In [6]:
data.head(5)

,day,week,0,1,2,3,4,5,6,7,...,16,17,18,19,20,21,22,23,24,summa
tix,42688.0,46,00:00-00:30,00:30-01:30,01:30-02:30,02:30-03:30,03:30-04:30,04:30-05:30,05:30-06:30,06:30-07:30,...,15:30-16:30,16:30-17:30,17:30-18:30,18:30-19:30,19:30-20:30,20:30-21:30,21:30-22:30,22:30-23:30,23:30-00:00,NaN
angekommen,42688.0,46,0,0,0,0,0,0,1,5,...,14,9,7,5,0,0,1,0,0,321
verbunden,42688.0,46,0,0,0,0,0,0,0,4,...,13,8,5,5,0,0,0,0,0,221
verloren,42688.0,46,0,0,0,0,0,0,1,1,...,1,1,2,0,0,0,1,0,0,100
servicelevel,42688.0,46,NaN,NaN,NaN,NaN,NaN,NaN,0,0.8,...,0.928571,0.888889,0.714286,1,NaN,NaN,0,NaN,NaN,0.688474

In [7]:
time_index = list(range(0,25))
#time_index.insert(0,'day')
print time_index
verlorene_daily=data.loc['verloren'][time_index]
sla_daily=data.loc['servicelevel'][time_index]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [8]:
print verlorene_daily.shape
print sla_daily.shape
lostcalls_av = verlorene_daily.mean()
type(lostcalls_av)

(143, 25)
(143, 25)

pandas.core.series.Series

In [9]:
print type (sla_daily)
sla_daily = sla_daily.iloc[:,time_index].apply(pd.to_numeric, errors="coerce")
#print sla_daily[time_index].count().head(5)
#print sla_daily[time_index].sum().head(5)
sla_by_hix=sla_daily[time_index].mean()
print type(sla_by_hix)
print sla_by_hix

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
0     0.666667
1          NaN
2          NaN
3     0.533333
4     1.000000
5     0.500000
6     0.712500
7     0.915578
8     0.941873
9     0.867078
10    0.858338
11    0.851129
12    0.897427
13    0.939455
14    0.928939
15    0.915249
16    0.888530
17    0.936487
18    0.838190
19    0.848204
20    0.886719
21    0.777778
22    0.710145
23    0.571429
24         NaN
dtype: float64

In [10]:
plt.ylabel('verlorene im Durchschnitt')
plt.xlabel('Stunde')
plt.bar(lostcalls_av.index,lostcalls_av,align="center")
plt.plot(sla_by_hix,'g+')
plt.axhline(y=0.8, color='r', linestyle='-')

In [11]:
data_num = data.iloc[:,time_index].apply(pd.to_numeric, errors="coerce")
calls_nullbishalb = data.loc['angekommen'][6].sum()
verb_nullbishalb = data.loc['verbunden'][6].sum()
verl_nullbishalb = data.loc['verloren'][6].sum()
calls_nullbishalb, verb_nullbishalb, verl_nullbishalb
print verb_nullbishalb/calls_nullbishalb
print sla_by_hix[6]

0.71875
0.7125

In [12]:
calls_nullbishalb = data.loc['angekommen'][7].sum()
verb_nullbishalb = data.loc['verbunden'][7].sum()
verl_nullbishalb = data.loc['verloren'][7].sum()
calls_nullbishalb, verb_nullbishalb, verl_nullbishalb
print verb_nullbishalb/calls_nullbishalb
print sla_by_hix[7]

0.888429752066
0.915577601411

In [13]:
calls_nullbishalb = data.loc['angekommen'][8].sum()
verb_nullbishalb = data.loc['verbunden'][8].sum()
verl_nullbishalb = data.loc['verloren'][8].sum()
calls_nullbishalb, verb_nullbishalb, verl_nullbishalb
print verb_nullbishalb/calls_nullbishalb
print sla_by_hix[8]

0.908096280088
0.941872544922

**abweichende Werte für mean() und handgerechnet...**