**Hier sollten die durschnittliche Bearbeitungszeit aller Agenten im Schni

In [1]:
## Import necessary modules
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import date2num, AutoDateFormatter, AutoDateLocator, WeekdayLocator, MonthLocator, DayLocator, DateLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
from matplotlib.ticker import AutoMinorLocator
import numpy as np
import datetime, calendar
from datetime import datetime
import matplotlib.patches as mpatches
%matplotlib tk

## Import data frome pickle generated from hotline_daily.py
data = pd.read_pickle('/home/keuch/gits/keuch/code_box/pyt/spreadsheetparsing/entwuerfe/pickle_o_e.pkl')
data2=data.T

In [2]:
print(data2.columns)
data2

Index(['acw', 'an', 'bz', 'dd', 'dt', 'hh', 'ht', 'mm', 'tm', 'tt', 'vb', 'vl',
       'wd', 'ww', 'xl', 'yy'],
      dtype='object')

,acw,an,bz,dd,dt,hh,ht,mm,tm,tt,vb,vl,wd,ww,xl,yy
2016-11-14 06:00:00,0,1,n,14,2016-11-14,6,0,11,06:00:00,0,0,1,Mon,46,42688,2016
2016-11-14 07:00:00,0.0121991,5,n,14,2016-11-14,7,0.0244907,11,07:00:00,0.0122917,4,1,Mon,46,42688,2016
2016-11-14 08:00:00,0.0492361,46,n,14,2016-11-14,8,0.110498,11,08:00:00,0.0612616,27,19,Mon,46,42688,2016
2016-11-14 09:00:00,0.0701852,74,n,14,2016-11-14,9,0.159086,11,09:00:00,0.0889005,36,38,Mon,46,42688,2016
2016-11-14 10:00:00,0.0620602,66,n,14,2016-11-14,10,0.159954,11,10:00:00,0.0978935,41,25,Mon,46,42688,2016
2016-11-14 11:00:00,0.0266204,29,n,14,2016-11-14,11,0.0638542,11,11:00:00,0.0372338,19,10,Mon,46,42688,2016
2016-11-14 12:00:00,0.0387731,26,k,14,2016-11-14,12,0.103623,11,12:00:00,0.0648495,25,1,Mon,46,42688,2016
2016-11-14 13:00:00,0.0147569,8,k,14,2016-11-14,13,0.0312384,11,13:00:00,0.0164815,8,0,Mon,46,42688,2016
2016-11-14 14:00:00,0.0181481,12,k,14,2016-11-14,14,0.0437963,11,14:00:00,0.0256481,12,0,Mon,46,42688,2016
2016-11-14 15:00:00,0.0300116,18,k,14,2016-11-14,15,0.0807986,11,15:00:00,0.050787,18,0,Mon,46,42688,2016
2016-11-14 16:00:00,0.020162,14,k,14,2016-11-14,16,0.0515162,11,16:00:00,0.0313542,13,1,Mon,46,42688,2016
2016-11-14 17:00:00,0.0199653,9,k,14,2016-11-14,17,0.0378356,11,17:00:00,0.0178704,8,1,Mon,46,42688,2016
2016-11-14 18:00:00,0.00484954,7,k,14,2016-11-14,18,0.0144676,11,18:00:00,0.00961806,5,2,Mon,46,42688,2016
2016-11-14 19:00:00,0.0122917,5,k,14,2016-11-14,19,0.0257986,11,19:00:00,0.0135069,5,0,Mon,46,42688,2016
2016-11-14 22:00:00,0,1,n,14,2016-11-14,22,0,11,22:00:00,0,0,1,Mon,46,42688,2016
2016-11-15 06:00:00,0.00217593,1,n,15,2016-11-15,6,0.00486111,11,06:00:00,0.00268519,1,0,Tue,46,42689,2016
2016-11-15 07:00:00,0.00511574,3,n,15,2016-11-15,7,0.00792824,11,07:00:00,0.0028125,3,0,Tue,46,42689,2016
2016-11-15 08:00:00,0.00657407,3,n,15,2016-11-15,8,0.0115625,11,08:00:00,0.00498843,2,1,Tue,46,42689,2016
2016-11-15 09:00:00,0.0294444,28,n,15,2016-11-15,9,0.0866551,11,09:00:00,0.0572106,23,5,Tue,46,42689,2016
2016-11-15 10:00:00,0.0335648,24,n,15,2016-11-15,10,0.0723032,11,10:00:00,0.0387384,19,5,Tue,46,42689,2016
2016-11-15 11:00:00,0.0239583,15,n,15,2016-11-15,11,0.0543287,11,11:00:00,0.0303704,15,0,Tue,46,42689,2016
2016-11-15 12:00:00,0.0123264,18,k,15,2016-11-15,12,0.047581,11,12:00:00,0.0352546,15,3,Tue,46,42689,2016
2016-11-15 13:00:00,0.00875,6,k,15,2016-11-15,13,0.0192014,11,13:00:00,0.0104514,6,0,Tue,46,42689,2016
2016-11-15 14:00:00,0.0182986,14,k,15,2016-11-15,14,0.0305903,11,14:00:00,0.0122917,10,4,Tue,46,42689,2016
2016-11-15 15:00:00,0.0193403,13,k,15,2016-11-15,15,0.0429745,11,15:00:00,0.0236343,12,1,Tue,46,42689,2016
2016-11-15 16:00:00,0.0316204,17,k,15,2016-11-15,16,0.063287,11,16:00:00,0.0316667,16,1,Tue,46,42689,2016
2016-11-15 18:00:00,0.0126042,5,k,15,2016-11-15,18,0.0234144,11,18:00:00,0.0108102,5,0,Tue,46,42689,2016
2016-11-15 19:00:00,0.00724537,4,k,15,2016-11-15,19,0.0135301,11,19:00:00,0.00628472,4,0,Tue,46,42689,2016
2016-11-15 20:00:00,0.00233796,1,n,15,2016-11-15,20,0.00399306,11,20:00:00,0.00165509,1,0,Tue,46,42689,2016
2016-11-16 07:00:00,0.00319444,4,n,16,2016-11-16,7,0.0104861,11,07:00:00,0.00729167,3,1,Wed,46,42690,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-06-02 15:00:00,0.00231481,6,k,2,2017-06-02,15,0.0138889,6,15:00:00,0.0115741,6,0,Fri,22,42888,2017
2017-06-02 15:15:00,0.00126157,4,k,2,2017-06-02,15,0.012338,6,15:15:00,0.0110764,4,0,Fri,22,42888,2017
2017-06-02 15:30:00,0.0021412,7,k,2,2017-06-02,15,0.014456,6,15:30:00,0.0123148,6,1,Fri,22,42888,2017
2017-06-02 17:00:00,2.31481e-05,1,k,2,2017-06-02,17,0.00174769,6,17:00:00,0.00172454,1,0,Fri,22,42888,2017
2017-06-02 17:30:00,0.00099537,3,k,2,2017-06-02,17,0.00542824,6,17:30:00,0.00443287,3,0,Fri,22,42888,2017
2017-06-02 17:45:00,0.00206019,5,k,2,2017-06-02,17,0.012419,6,17:45:00,0.0103588,4,1,Fri,22,42888,2017
2017-06-02 18:15:00,0.00104167,3,k,2,2017-06-02,18,0.00623843,6,18:15:00,0.00519676,3,0,Fri,22,42888,2017
2017-06-02 18:30:00,0.00210648,4,k,2,2017-06-02,18,0.0050463,6,18:30:00,0.00293981,4,0,Fri,22,42888,2017
2017-06-02 18:45:00,0.00103009,4,k,2,2017-06-02,18,0.00519676,6,18:45:00,0.00416667,3,1,Fri,22,42888,2017
2017-06-02 19:00:00,0.00170139,3,k,2,2017-06-02,19,0.0113773,6,19:00:00,0.00967593,3,0,Fri,22,42888,2017
2017-06-02 19:15:00,0.000347222,1,k,2,2017-06-02,19,0.00148148,6,19:15:00,0.00113426,1,0,Fri,22,42888,2017
2017-06-02 20:30:00,0.000347222,2,n,2,2017-06-02,20,0.0012037,6,20:30:00,0.000856481,1,1,Fri,22,42888,2017
2017-06-03 08:00:00,0.000439815,2,n,3,2017-06-03,8,0.00247685,6,08:00:00,0.00203704,2,0,Sat,22,42889,2017
2017-06-03 09:45:00,2.31481e-05,1,n,3,2017-06-03,9,0.00118056,6,09:45:00,0.00115741,1,0,Sat,22,42889,2017
2017-06-03 13:00:00,0.000532407,2,n,3,2017-06-03,13,0.0015625,6,13:00:00,0.00103009,2,0,Sat,22,42889,2017
2017-06-03 13:15:00,9.25926e-05,1,n,3,2017-06-03,13,0.000497685,6,13:15:00,0.000405093,1,0,Sat,22,42889,2017
2017-06-03 13:30:00,5.78704e-05,1,n,3,2017-06-03,13,0.000532407,6,13:30:00,0.000474537,1,0,Sat,22,42889,2017
2017-06-03 13:45:00,4.62963e-05,1,n,3,2017-06-03,13,0.00037037,6,13:45:00,0.000324074,1,0,Sat,22,42889,2017
2017-06-03 14:15:00,0.000347222,2,n,3,2017-06-03,14,0.000486111,6,14:15:00,0.000138889,1,1,Sat,22,42889,2017
2017-06-03 14:30:00,0.000196759,3,n,3,2017-06-03,14,0.00144676,6,14:30:00,0.00125,3,0,Sat,22,42889,2017
2017-06-03 15:30:00,5.78704e-05,1,n,3,2017-06-03,15,0.000902778,6,15:30:00,0.000844907,1,0,Sat,22,42889,2017
2017-06-03 16:15:00,0.000416667,2,n,3,2017-06-03,16,0.00199074,6,16:15:00,0.00157407,2,0,Sat,22,42889,2017
2017-06-03 18:15:00,0,1,n,3,2017-06-03,18,0,6,18:15:00,0,0,1,Sat,22,42889,2017
2017-06-03 18:30:00,0.000347222,1,n,3,2017-06-03,18,0.00111111,6,18:30:00,0.000763889,1,0,Sat,22,42889,2017
2017-06-04 11:00:00,0,1,n,4,2017-06-04,11,0,6,11:00:00,0,0,1,Sun,22,42890,2017
2017-06-04 13:30:00,4.62963e-05,1,n,4,2017-06-04,13,0.000717593,6,13:30:00,0.000671296,1,0,Sun,22,42890,2017
2017-06-04 13:45:00,0,1,n,4,2017-06-04,13,0,6,13:45:00,0,0,1,Sun,22,42890,2017
2017-06-04 14:15:00,2.31481e-05,1,n,4,2017-06-04,14,8.10185e-05,6,14:15:00,5.78704e-05,1,0,Sun,22,42890,2017
2017-06-05 19:30:00,0.000173611,1,n,5,2017-06-05,19,0.000648148,6,19:30:00,0.000474537,1,0,Mon,23,42891,2017
2017-06-05 19:45:00,0.000694444,1,n,5,2017-06-05,19,0.00105324,6,19:45:00,0.000358796,1,0,Mon,23,42891,2017

In [3]:
colfunx={'an':'sum','tt':'sum','acw':'sum','dt':'unique','wd':'unique','vb':'sum'}
data2[['an','tt','acw']]=data2[['an','tt','acw']].astype(float)

In [4]:
yo=data2.groupby(['xl','bz']).agg(colfunx)
avacw=yo.acw/yo.vb
avtt=yo.tt/yo.vb
yo['aacw']=pd.to_timedelta(avacw, unit='d')
yo['att']=pd.to_timedelta(avtt, unit='d')
yo['aht']=yo['att']+yo['aacw']
yo2=yo[['dt','vb','att','aacw','aht']]

In [5]:
yo2
yo3=yo2.reset_index()
yo3[yo3['bz'] == 'k'].head()

,xl,bz,dt,vb,att,aacw,aht
0,42688.0,k,[2016-11-14],94,00:03:31.507200,00:02:26.102400,00:05:57.609600
2,42689.0,k,[2016-11-15],68,00:02:45.715200,00:02:19.968000,00:05:05.683200
4,42690.0,k,[2016-11-16],31,00:03:32.284800,00:03:43.084800,00:07:15.369600
6,42691.0,k,[2016-11-17],24,00:02:54.528000,00:02:53.923200,00:05:48.451200
8,42692.0,k,[2016-11-18],42,00:03:07.488000,00:03:31.593599,00:06:39.081599

In [6]:


x_=yo3[yo3['bz'] == 'k']['xl']
yk1=yo3[yo3['bz'] == 'k']['att']
yk2=yo3[yo3['bz'] == 'k']['aht']
yk3=yo3[yo3['bz'] == 'k']['aacw']

an_c="#B5B5B5"
vb_c="#008EC4"
vl_c="#AC003A"


fig=plt.figure()
#fig.suptitle(tit)
ax=plt.subplot(111)

attk=ax.plot(x_,yk1,color=an_c)
ahtk=ax.plot(x_,yk2,color=vb_c)
acwk=ax.plot(x_,yk3,color=vl_c)