In [1]:
## Import necessary modules
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import AutoDateFormatter, AutoDateLocator, WeekdayLocator, MonthLocator, DateFormatter
from matplotlib.dates import MO, TU, WE, TH, FR, SA, SU
from matplotlib.ticker import AutoMinorLocator
import numpy as np
import datetime, calendar
%matplotlib tk


## Import data frome pickle generated from hotline_daily.py
data = pd.read_pickle('./../../xls_testruns/agentenpickel.pkl')

In [2]:
def rearrange(df):
    index_filter=df.loc[['tix']] ## select all hours-index rows
    
    hourse=list(range(0,25))  ## these is from 0 to 24 (25 entries!) and maps the hour indices
    mh=index_filter[hourse]  ## columns with half- and hour steps were named 0-24
    oldcols=mh.columns.values.tolist() ## list of the names of the hourse
    newcols=mh.loc['tix'].drop_duplicates().loc['tix'].values.tolist() ## one row of the hour indices provides the new column names
    cols=dict(zip(oldcols,newcols)) ## old column names get mapped to new columns names

    mhnew=df.rename(columns=cols).drop('tix') ## new dataframe has the old 'tix' entries as column names; 'tix' rows are dropped since not needed any more
    mhnew=mhnew.reset_index().set_index(['xlday']).rename(columns={'index':'status'}) ## new index will be the excel date numbers, old index is moved to a column named 'status'
    
    return mhnew

In [3]:
def timerange(*,df, years, months=range(1,13), weeks=range(1,53), weekdays=['Mon','Tue','Wed','Thu','Fri','Sat','Sun']):
    resultat=df.loc[(df['year'].isin(years)) & (df['month'].isin(months)) & (df['weekday'].isin(weekdays))]
    return resultat

# end of function definitions

In [5]:
#ndata=rearrange(data)
data.head()

                                     dt    yy      tt bz  hh dd        acw mm  \
2017-03-04 08:00:00 beckfra  2017-03-04  2017  2.1333  n   8  4     0.2334  3
                    tetzlva  2017-03-04  2017  2.6167  n   8  4  0.0666001  3
2017-03-04 09:00:00 tetzlva  2017-03-04  2017  0.9167  n   9  4     0.1333  3
2017-03-04 10:00:00 scholan  2017-03-04  2017     0.6  n  10  4        1.5  3
2017-03-04 11:00:00 beckfra  2017-03-04  2017  4.2333  n  11  4  0.0999999  3

                            ww   wd lo       ag an be vl      ht
2017-03-04 08:00:00 beckfra  9  Sat  H  beckfra  1  1  0  2.3667
                    tetzlva  9  Sat  B  tetzlva  1  1  0  2.6833
2017-03-04 09:00:00 tetzlva  9  Sat  B  tetzlva  2  2  0    1.05
2017-03-04 10:00:00 scholan  9  Sat  H  scholan  1  1  0     2.1
2017-03-04 11:00:00 beckfra  9  Sat  H  beckfra  1  1  0  4.3333

### time range filter:
Arguments must be passed as a list or as a range. Example:

**timerange(df=ndata,years=[2016,2017],months=[3],weeks=[6],weekdays=['Sun','Sun'])**

Note the double entry for a single weekday!
Leaving parameters empty gives default values (=all). Months and Weeks may be mutually exclusive and raise exceptions

In [ ]:
plotframe = timerange(df=ndata,years=[2017],months=[3])

In [ ]:
plotframe